.maintenance {
  margin-top: 15vh;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maintenance h1{
  font-size: 56px;
  margin-bottom: 32px;
}

.maintenance img {
  height: 50%;
}

.maintenance h3 {
  margin-top: 32px;
  opacity: .8;
}

@media screen and (max-width: 500px) {
  .maintenance h1 {
    font-size: 32px;
    text-align: center;
  }

  .maintenance img {
    width: 90vw;
  }
}