// Colors
$background: #232222;
$primary: #1276D6;
$Secondary: #0AADDF;
$text: #F7F7F7;

// Fonts
$font-title: 'Roboto', sans-serif;
$font-text: 'Roboto', sans-serif;

// border radius
$rounded: 0.5rem;

//responsive breakpoints
$mobile: 500px;
$tablet: 800px;
$desktop: 1080px;