// Colors
$background: #232222;
$primary: #1276D6;
$Secondary: #0AADDF;
$text: #F7F7F7;

// Fonts
$font-title: 'Roboto', sans-serif;
$font-text: 'Roboto', sans-serif;

// border radius
$rounded: 0.5rem;

//responsive breakpoints
$mobile: 500px;
$tablet: 800px;
$desktop: 1080px;

//shadow
$shadow: 1px 2px 3px 3px rgba($color: #000000, $alpha: 0.3);

//buttons

.btn{
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem;
    border: none;
    box-shadow: 0px 1px 5px 1px rgba($color: #000000, $alpha: 0.2);
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.btn:disabled{
    transform: scale(0.9);
    box-shadow: inset 0px 1px 5px 1px rgba($color: #000000, $alpha: 0.2);
}