@import '../../assets/scss/variables.scss';

.contact-container{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 800px;
    padding: 1rem;
    margin: auto;

    h1{
        text-align: center;
        width: 100%;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;

        p.error{
            color: red;
            padding-top: 0.3rem;
        }

        label{
            margin-top: 0.75rem;
            margin-bottom: 0.25rem;
        }

        input, textarea{
            border-width: 0px;
            border-radius: 0.45rem;
            padding: 0.5rem;
            outline: none;
            background-color: rgba($color: white, $alpha: 0.1);
            color: white;
        }
        input.error, textarea.error{
            border: red 2px solid;
            box-shadow: $shadow;
            outline: none;
        }
    }
}