.home {
  position: relative;
  width: 90vw;
  max-width: 1920px;
  height: 98vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 70px 10% 0;
  margin: auto;
}

.home-content {
  max-width: 40vw;
}

.home-content .name {
  font-size: 50px;
  font-weight: 700;
  margin: 0.5rem 0;
  opacity: 0 ;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
   font-size: 32px;
   font-weight: 700;
   opacity: 0;
   animation: slideBottom 1s ease forwards;
   animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
   margin-bottom: 30px;
   opacity: 0;
   animation: slideTop 1s ease forwards;
   animation-delay: .7s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content p {
  font-size: 16px;
  letter-spacing: 0.5px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-img img{
  position: absolute;
  height: 90vh;
  width: auto;
  filter: drop-shadow(0 -18px 15px #0ef);
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: .8s;
  bottom: 0px;
  right: -5vw;
  z-index: -1;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size:  20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--index));
}

.social-media a:hover {
  background: #0ef;
  color: #1f242d;
  box-shadow: 0 0 10px #0ef;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 5px #0ef;
  font-size: 16px;
  color: #1f242d;
  letter-spacing: 1px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.5s;
}

@media screen and (min-width: 1921px) {
  .home-img img {
    right: 5vw;
  }
}

@media screen and (max-width: 500px) {
  .home {
    margin-top: 15vh;
    position: relative;
    height: 85vh;
    bottom: 0;
    padding: 1rem;
    align-items: flex-end;
  }

  .home-img img {
    width: 100vw;
    height: auto;
    top: -10px;
    right: 5vw;
  }

  .home-content {
    max-width: 100vw;
    width: 100vw;
    background: linear-gradient(transparent, #1f242d, #1f242d);
    padding: 1rem;
    border-radius: 16px;
    margin-bottom: 16px;
  }

  .home-content .name {
    font-size: 36px;
  }

  .home-content h3 {
    font-size: 20px;
  }

  .home-content h3:nth-of-type(2) {
    margin-bottom: 16px;
  }

  .home-content p {
    font-size: 16px;
    letter-spacing: 0.5px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
  }

  .social-media {
    display: inline-block;
  }
}