@import '../../assets/scss/variables';

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 30vw;

    @media (max-width: $mobile) {
      width: 45vh;
    }
  }
}