@use '../../variables.scss' as *;

@media (max-width: 500px) {
    .card-test{
        background-color: red;
        margin: 1rem;
        border-radius: $rounded;
        height: 30vh;
        background-color: rgba($background, $alpha: 0.2);
    }
}